In [1]:
import os
os.chdir('C:/Users/v-kirdwivedi/Documents/GitHub/MatchingAlgorithm/')

In [2]:
import numpy as np
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import seaborn as sns
from funcs import *
from multi_funcs import *

Make-demo:

In [93]:
preferences = mdf_np(1000, 3)

In [94]:
matches, _ = run_gale_shapley(preferences, 3)

In [95]:
preferences = preferences[preferences['student_id'].isin(matches['student_id'])]
preferences.reset_index(inplace = True, drop = True) 

## Step 2: Remove students who got preferred choice
preferences['rejections'] = matches.applications
relevant = preferences[preferences['rejections'] != 0] ## drop all who were never rejected. They will necessarily not point to anyone else. 

## Step 3: For others, keep only preferences above match. 
for i in range(1,3):
    relevant.iloc[:, i] = np.where(relevant['rejections']<i, -100, relevant.iloc[:, i])
relevant.set_index('student_id', inplace = True)
""" pointing = pd.DataFrame(relevant.iloc[:, :3].stack(level = 0)).reset_index()
pointing = pointing[pointing[0] != -100]

## Step 4: Prepare for Tarjan's Algorithm
to_merge = matches.loc[:,[0, 'student_id']]
pointing = pointing.merge(to_merge, on = 0, how = 'left')
pointing = pointing[pointing['student_id_y'].isin(pointing['student_id_x'])] """

" pointing = pd.DataFrame(relevant.iloc[:, :3].stack(level = 0)).reset_index()\npointing = pointing[pointing[0] != -100]\n\n## Step 4: Prepare for Tarjan's Algorithm\nto_merge = matches.loc[:,[0, 'student_id']]\npointing = pointing.merge(to_merge, on = 0, how = 'left')\npointing = pointing[pointing['student_id_y'].isin(pointing['student_id_x'])] "

In [96]:
relevant

,0,1,2,applications,k,matched,rank1,rank2,rank3,underdemanded,rejections
student_id,,,,,,,,,,,
1,706,889,-100,1,2,True,0.010065,0.426917,0.426917,True,1
4,652,167,167,1,2,True,0.002004,0.861703,0.861703,True,2
5,602,687,-100,1,4,True,0.430791,0.878835,0.878835,True,1
6,2,995,995,1,2,True,0.185477,0.135159,0.135159,True,2
8,621,273,-100,0,3,False,0.513861,0.701657,0.975258,False,1
...,...,...,...,...,...,...,...,...,...,...,...
982,159,38,-100,0,2,False,0.345774,0.990326,0.413219,False,1
988,537,200,-100,1,4,True,0.684419,0.748459,0.748459,True,1
989,169,305,305,1,2,True,0.016093,0.939063,0.939063,True,2
995,541,669,-100,0,1,False,0.701062,0.776532,0.690649,True,1
999,475,536,-100,1,4,True,0.300995,0.612929,0.612929,True,1

In [97]:
pointing = pd.DataFrame(relevant.iloc[:, :3].stack(level = 0)).reset_index()

In [98]:
pointing['weight'] = [3*len(preferences)+1, 3*len(preferences)+1, 3*len(preferences)]*len(relevant)

In [99]:
pointing = pointing[pointing[0] != -100]

In [100]:
pointing.reset_index(inplace = True, drop = True)

In [101]:
pointing

     student_id  level_1    0  weight
0             1        0  706    2551
1             1        1  889    2551
2             4        0  652    2551
3             4        1  167    2551
4             4        2  167    2550
..          ...      ...  ...     ...
918         989        2  305    2550
919         995        0  541    2551
920         995        1  669    2551
921         999        0  475    2551
922         999        1  536    2551

[923 rows x 4 columns]

In [102]:
l1 = [([3*len(preferences)+1]*(k) + [3*len(preferences)]) for k in relevant.rejections]
l2 = [item for sublist in l1 for item in sublist]

In [103]:
l2

[2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550,
 2551,
 2551,
 2550,
 2551,
 2550,
 2551,
 2550]

In [104]:
pointing['weight'] = l2

In [105]:
pointing

     student_id  level_1    0  weight
0             1        0  706    2551
1             1        1  889    2550
2             4        0  652    2551
3             4        1  167    2551
4             4        2  167    2550
..          ...      ...  ...     ...
918         989        2  305    2550
919         995        0  541    2551
920         995        1  669    2550
921         999        0  475    2551
922         999        1  536    2550

[923 rows x 4 columns]

In [106]:
first_match_schools = matches[matches['applications'] == 0][0]

In [107]:
pointing = pointing[~(pointing[0].isin(first_match_schools))]

In [108]:
pointing

     student_id  level_1    0  weight
0             1        0  706    2551
1             1        1  889    2550
3             4        1  167    2551
4             4        2  167    2550
5             5        0  602    2551
..          ...      ...  ...     ...
918         989        2  305    2550
919         995        0  541    2551
920         995        1  669    2550
921         999        0  475    2551
922         999        1  536    2550

[773 rows x 4 columns]

So now we're exclusively pointing to schools that are not paired to a student who had them top of their list! Note the school ids still don't really mean anything here.

In [109]:
pointing[0] = pointing[0].astype(str)+'S'

In [110]:
pointing

     student_id  level_1     0  weight
0             1        0  706S    2551
1             1        1  889S    2550
3             4        1  167S    2551
4             4        2  167S    2550
5             5        0  602S    2551
..          ...      ...   ...     ...
918         989        2  305S    2550
919         995        0  541S    2551
920         995        1  669S    2550
921         999        0  475S    2551
922         999        1  536S    2550

[773 rows x 4 columns]

In [111]:
pointing.drop('level_1', axis = 1, inplace = True)

In [112]:
pointing

     student_id     0  weight
0             1  706S    2551
1             1  889S    2550
3             4  167S    2551
4             4  167S    2550
5             5  602S    2551
..          ...   ...     ...
918         989  305S    2550
919         995  541S    2551
920         995  669S    2550
921         999  475S    2551
922         999  536S    2550

[773 rows x 3 columns]

In [113]:
pointing.columns = ['source', 'target', 'weight']

In [114]:
G = nx.Graph()

In [115]:
G= nx.from_pandas_edgelist(pointing, edge_attr = True)

In [116]:
max_weight_matching = nx.max_weight_matching(G)

In [117]:
max_weight_matching

{('100S', 156),
 ('102S', 175),
 ('112S', 110),
 ('124S', 763),
 ('125S', 753),
 ('126S', 726),
 ('127S', 284),
 ('128S', 340),
 ('134S', 363),
 ('135S', 354),
 ('139S', 390),
 ('140S', 687),
 ('153S', 818),
 ('159S', 402),
 ('15S', 592),
 ('161S', 583),
 ('165S', 695),
 ('167S', 4),
 ('170S', 555),
 ('172S', 241),
 ('176S', 482),
 ('177S', 861),
 ('188S', 83),
 ('189S', 218),
 ('190S', 65),
 ('191S', 484),
 ('19S', 351),
 ('1S', 95),
 ('20S', 633),
 ('211S', 598),
 ('212S', 274),
 ('213S', 577),
 ('215S', 606),
 ('217S', 90),
 ('224S', 415),
 ('229S', 436),
 ('230S', 733),
 ('231S', 683),
 ('238S', 216),
 ('239S', 702),
 ('245S', 112),
 ('252S', 497),
 ('255S', 152),
 ('256S', 348),
 ('262S', 448),
 ('264S', 195),
 ('265S', 365),
 ('270S', 186),
 ('271S', 458),
 ('272S', 720),
 ('27S', 667),
 ('281S', 487),
 ('286S', 207),
 ('287S', 575),
 ('298S', 85),
 ('299S', 108),
 ('305S', 878),
 ('309S', 169),
 ('314S', 696),
 ('315S', 179),
 ('316S', 251),
 ('319S', 517),
 ('324S', 357),
 ('325S', 554),
 ('326S', 192),
 ('327S', 531),
 ('338S', 747),
 ('343S', 954),
 ('350S', 910),
 ('353S', 713),
 ('362S', 94),
 ('369S', 419),
 ('371S', 574),
 ('378S', 368),
 ('379S', 210),
 ('37S', 642),
 ('393S', 666),
 ('397S', 43),
 ('398S', 701),
 ('401S', 525),
 ('404S', 711),
 ('40S', 168),
 ('410S', 750),
 ('412S', 81),
 ('415S', 468),
 ('416S', 608),
 ('420S', 857),
 ('423S', 389),
 ('430S', 296),
 ('431S', 229),
 ('44S', 700),
 ('451S', 194),
 ('459S', 737),
 ('463S', 483),
 ('466S', 842),
 ('473S', 12),
 ('476S', 762),
 ('480S', 45),
 ('482S', 230),
 ('488S', 50),
 ('48S', 512),
 ('490S', 127),
 ('493S', 838),
 ('500S', 255),
 ('510S', 295),
 ('511S', 206),
 ('514S', 113),
 ('516S', 205),
 ('520S', 768),
 ('521S', 334),
 ('523S', 732),
 ('526S', 58),
 ('527S', 204),
 ('528S', 866),
 ('531S', 69),
 ('532S', 131),
 ('536S', 480),
 ('537S', 988),
 ('541S', 401),
 ('544S', 328),
 ('549S', 381),
 ('560S', 118),
 ('565S', 151),
 ('56S', 505),
 ('571S', 698),
 ('572S', 64),
 ('576S', 122),
 ('579S', 76),
 ('587S', 301),
 ('588S', 466),
 ('58S', 39),
 ('597S', 622),
 ('60S', 674),
 ('613S', 125),
 ('615S', 692),
 ('618S', 858),
 ('621S', 100),
 ('627S', 297),
 ('631S', 343),
 ('633S', 160),
 ('638S', 28),
 ('63S', 155),
 ('653S', 437),
 ('657S', 242),
 ('660S', 238),
 ('672S', 180),
 ('673S', 533),
 ('674S', 603),
 ('675S', 145),
 ('67S', 741),
 ('683S', 376),
 ('687S', 5),
 ('695S', 435),
 ('697S', 209),
 ('701S', 648),
 ('705S', 446),
 ('706S', 1),
 ('708S', 501),
 ('711S', 859),
 ('725S', 637),
 ('726S', 73),
 ('727S', 148),
 ('730S', 572),
 ('731S', 60),
 ('732S', 891),
 ('736S', 89),
 ('739S', 597),
 ('760S', 26),
 ('762S', 631),
 ('766S', 63),
 ('769S', 181),
 ('771S', 385),
 ('776S', 254),
 ('779S', 822),
 ('787S', 432),
 ('78S', 884),
 ('790S', 975),
 ('791S', 267),
 ('79S', 24),
 ('7S', 165),
 ('802S', 655),
 ('804S', 280),
 ('806S', 66),
 ('812S', 249),
 ('813S', 862),
 ('814S', 211),
 ('81S', 388),
 ('820S', 591),
 ('821S', 71),
 ('827S', 196),
 ('828S', 79),
 ('832S', 672),
 ('833S', 278),
 ('834S', 374),
 ('836S', 595),
 ('837S', 418),
 ('838S', 347),
 ('840S', 627),
 ('842S', 360),
 ('848S', 281),
 ('854S', 557),
 ('860S', 270),
 ('863S', 443),
 ('865S', 420),
 ('873S', 756),
 ('879S', 177),
 ('881S', 313),
 ('886S', 25),
 ('892S', 200),
 ('894S', 226),
 ('896S', 685),
 ('89S', 740),
 ('903S', 55),
 ('907S', 35),
 ('912S', 30),
 ('914S', 190),
 ('915S', 920),
 ('927S', 495),
 ('929S', 537),
 ('92S', 951),
 ('930S', 227),
 ('932S', 247),
 ('933S', 19),
 ('935S', 880),
 ('937S', 176),
 ('939S', 188),
 ('93S', 327),
 ('940S', 414),
 ('942S', 350),
 ('946S', 98),
 ('949S', 260),
 ('953S', 223),
 ('955S', 178),
 ('959S', 528),
 ('973S', 316),
 ('975S', 32),
 ('979S', 719),
 ('981S', 121),
 ('989S', 673),
 ('98S', 981),
 ('997S', 503),
 (109, '242S'),
 (124, '640S'),
 (133, '561S'),
 (147, '345S'),
 (163, '686S'),
 (172, '797S'),
 (18, '810S'),
 (198, '702S'),
 (202, '352S'),
 (212, '685S'),
 (217, '877S'),
 (222, '341S'),
 (235, '306S'),
 (236, '136S'),
 (240, '569S'),
 (265, '971S'),
 (285, '248S'),
 (287, '166S'),
 (289, '990S'),
 (291, '449S'),
 (300, '509S'),
 (309, '805S'),
 (315, '496S'),
 (319, '260S'),
 (320, '35S'),
 (322, '462S'),
 (324, '553S'),
 (329, '70S'),
 (355, '367S'),
 (356, '580S'),
 (377, '934S'),
 (379, '818S'),
 (392, '761S'),
 (403, '364S'),
 (417, '815S'),
 (421, '910S'),
 (433, '839S'),
 (441, '461S'),
 (449, '641S'),
 (455, '533S'),
 (460, '492S'),
 (474, '130S'),
 (481, '614S'),
 (486, '361S'),
 (491, '713S'),
 (492, '692S'),
 (496, '181S'),
 (508, '474S'),
 (510, '616S'),
 (523, '679S'),
 (529, '443S'),
 (530, '777S'),
 (534, '696S'),
 (539, '377S'),
 (549, '147S'),
 (559, '866S'),
 (566, '513S'),
 (569, '982S'),
 (581, '904S'),
 (582, '857S'),
 (584, '168S'),
 (586, '753S'),
 (587, '479S'),
 (588, '442S'),
 (6, '995S'),
 (601, '110S'),
 (610, '45S'),
 (619, '66S'),
 (620, '214S'),
 (621, '186S'),
 (624, '847S'),
 (625, '268S'),
 (628, '677S'),
 (629, '941S'),
 (634, '357S'),
 (641, '376S'),
 (650, '921S'),
 (654, '809S'),
 (658, '49S'),
 (663, '414S'),
 (665, '999S'),
 (668, '693S'),
 (676, '543S'),
 (680, '662S'),
 (690, '619S'),
 (712, '121S'),
 (718, '715S'),
 (723, '220S'),
 (731, '426S'),
 (738, '313S'),
 (748, '738S'),
 (749, '788S'),
 (754, '486S'),
 (758, '162S'),
 (760, '489S'),
 (769, '236S'),
 (771, '547S'),
 (773, '154S'),
 (778, '180S'),
 (781, '602S'),
 (783, '980S'),
 (785, '519S'),
 (793, '433S'),
 (794, '612S'),
 (795, '51S'),
 (799, '574S'),
 (8, '273S'),
 (808, '184S'),
 (809, '280S'),
 (810, '654S'),
 (827, '983S'),
 (831, '642S'),
 (836, '600S'),
 (846, '538S'),
 (855, '437S'),
 (856, '395S'),
 (865, '43S'),
 (869, '764S'),
 (870, '916S'),
 (871, '880S'),
 (874, '334S'),
 (875, '796S'),
 (876, '577S'),
 (894, '483S'),
 (899, '709S'),
 (900, '778S'),
 (906, '389S'),
 (912, '590S'),
 (917, '403S'),
 (919, '484S'),
 (921, '133S'),
 (925, '601S'),
 (928, '743S'),
 (933, '434S'),
 (938, '349S'),
 (939, '964S'),
 (941, '663S'),
 (952, '328S'),
 (958, '750S'),
 (960, '707S'),
 (964, '347S'),
 (966, '39S'),
 (969, '635S'),
 (972, '678S'),
 (974, '4S'),
 (977, '450S'),
 (980, '605S'),
 (982, '38S'),
 (989, '169S'),
 (995, '669S'),
 (999, '475S')}

In [118]:
len(max_weight_matching)

392

In [119]:
matches[matches['applications']!=0]

,0,1,2,student_id,applications,k,matched,rank1,rank2,rank3,underdemanded
1,706,889,889,1,1,1,False,0.010065,0.426917,0.426917,True
3,167,167,167,4,2,1,False,0.861703,0.861703,0.861703,False
4,602,687,687,5,1,1,False,0.430791,0.878835,0.878835,False
5,995,995,995,6,2,1,False,0.135159,0.135159,0.135159,True
6,273,802,802,8,1,1,False,0.701657,0.975258,0.975258,False
...,...,...,...,...,...,...,...,...,...,...,...
834,38,49,49,982,1,1,False,0.990326,0.413219,0.413219,True
840,537,200,200,988,1,1,False,0.684419,0.748459,0.748459,True
841,305,305,305,989,2,1,False,0.939063,0.939063,0.939063,False
845,669,306,306,995,1,1,False,0.776532,0.690649,0.690649,True
849,475,536,536,999,1,1,False,0.300995,0.612929,0.612929,False

In [120]:
[3+1]*5+[3]

[4, 4, 4, 4, 4, 3]