In [136]:
import os
os.chdir('C:/Users/v-kirdwivedi/Documents/GitHub/MatchingAlgorithm/')

In [137]:
import numpy as np
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import seaborn as sns
from funcs import *
from multi_funcs import *

Make-demo:

In [138]:
preferences = mdf_np(1000, 3)

In [139]:
matches, _ = run_gale_shapley(preferences, 3)

In [140]:
preferences = preferences[preferences['student_id'].isin(matches['student_id'])]
preferences.reset_index(inplace = True, drop = True) 

## Step 2: Remove students who got preferred choice
preferences['rejections'] = matches.applications
relevant = preferences[preferences['rejections'] != 0] ## drop all who were never rejected. They will necessarily not point to anyone else. 

## Step 3: For others, keep only preferences above match. 
for i in range(1,3):
    relevant.iloc[:, i] = np.where(relevant['rejections']<i, -100, relevant.iloc[:, i])
relevant.set_index('student_id', inplace = True)
""" pointing = pd.DataFrame(relevant.iloc[:, :3].stack(level = 0)).reset_index()
pointing = pointing[pointing[0] != -100]

## Step 4: Prepare for Tarjan's Algorithm
to_merge = matches.loc[:,[0, 'student_id']]
pointing = pointing.merge(to_merge, on = 0, how = 'left')
pointing = pointing[pointing['student_id_y'].isin(pointing['student_id_x'])] """

" pointing = pd.DataFrame(relevant.iloc[:, :3].stack(level = 0)).reset_index()\npointing = pointing[pointing[0] != -100]\n\n## Step 4: Prepare for Tarjan's Algorithm\nto_merge = matches.loc[:,[0, 'student_id']]\npointing = pointing.merge(to_merge, on = 0, how = 'left')\npointing = pointing[pointing['student_id_y'].isin(pointing['student_id_x'])] "

In [141]:
relevant

,0,1,2,applications,k,matched,rank1,rank2,rank3,underdemanded,rejections
student_id,,,,,,,,,,,
1,223,452,452,1,3,True,0.643621,0.866780,0.866780,True,2
3,275,772,-100,1,2,True,0.451234,0.135070,0.135070,True,1
4,341,126,719,0,1,False,0.045962,0.162868,0.030956,True,2
7,396,842,-100,0,1,False,0.138135,0.015365,0.351826,True,1
8,107,503,503,1,2,True,0.280504,0.034129,0.034129,True,2
...,...,...,...,...,...,...,...,...,...,...,...
984,580,688,-100,1,2,True,0.858189,0.622415,0.622415,True,1
986,308,422,557,0,1,False,0.312198,0.442082,0.936252,True,2
992,147,94,721,0,1,False,0.277916,0.024110,0.485864,True,2
993,970,213,-100,1,2,True,0.836336,0.927727,0.927727,True,1
999,456,936,936,1,3,True,0.095254,0.929960,0.929960,True,2

In [142]:
pointing = pd.DataFrame(relevant.iloc[:, :3].stack(level = 0)).reset_index()

In [143]:
pointing['weight'] = [3*len(preferences)+1, 3*len(preferences)+1, 3*len(preferences)]*len(relevant)

In [144]:
pointing = pointing[pointing[0] != -100]

In [145]:
pointing.reset_index(inplace = True, drop = True)

In [146]:
pointing

     student_id  level_1    0  weight
0             1        0  223    2554
1             1        1  452    2554
2             1        2  452    2553
3             3        0  275    2554
4             3        1  772    2554
..          ...      ...  ...     ...
936         993        0  970    2554
937         993        1  213    2554
938         999        0  456    2554
939         999        1  936    2554
940         999        2  936    2553

[941 rows x 4 columns]

In [147]:
l1 = [([3*len(preferences)+1]*(k) + [3*len(preferences)]) for k in relevant.rejections]
l2 = [item for sublist in l1 for item in sublist]

In [148]:
l2

[2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2554,
 2553,
 2554,
 2553,
 2554,
 2554,
 2553]

In [149]:
pointing['weight'] = l2

In [150]:
pointing

     student_id  level_1    0  weight
0             1        0  223    2554
1             1        1  452    2554
2             1        2  452    2553
3             3        0  275    2554
4             3        1  772    2553
..          ...      ...  ...     ...
936         993        0  970    2554
937         993        1  213    2553
938         999        0  456    2554
939         999        1  936    2554
940         999        2  936    2553

[941 rows x 4 columns]

In [151]:
first_match_schools = matches[matches['applications'] == 0][0]

In [152]:
pointing = pointing[~(pointing[0].isin(first_match_schools))]

In [153]:
pointing

     student_id  level_1    0  weight
1             1        1  452    2554
2             1        2  452    2553
3             3        0  275    2554
4             3        1  772    2553
5             4        0  341    2554
..          ...      ...  ...     ...
935         992        2  721    2553
936         993        0  970    2554
938         999        0  456    2554
939         999        1  936    2554
940         999        2  936    2553

[797 rows x 4 columns]

So now we're exclusively pointing to schools that are not paired to a student who had them top of their list! Note the school ids still don't really mean anything here.

In [154]:
pointing[0] = pointing[0].astype(str)+'S'

In [155]:
pointing

     student_id  level_1     0  weight
1             1        1  452S    2554
2             1        2  452S    2553
3             3        0  275S    2554
4             3        1  772S    2553
5             4        0  341S    2554
..          ...      ...   ...     ...
935         992        2  721S    2553
936         993        0  970S    2554
938         999        0  456S    2554
939         999        1  936S    2554
940         999        2  936S    2553

[797 rows x 4 columns]

In [156]:
pointing.drop('level_1', axis = 1, inplace = True)

In [157]:
pointing

     student_id     0  weight
1             1  452S    2554
2             1  452S    2553
3             3  275S    2554
4             3  772S    2553
5             4  341S    2554
..          ...   ...     ...
935         992  721S    2553
936         993  970S    2554
938         999  456S    2554
939         999  936S    2554
940         999  936S    2553

[797 rows x 3 columns]

In [158]:
pointing.columns = ['source', 'target', 'weight']

In [159]:
G = nx.Graph()

In [160]:
G= nx.from_pandas_edgelist(pointing, edge_attr = True)

In [161]:
max_weight_matching = nx.max_weight_matching(G)

In [162]:
len(max_weight_matching)

401

In [163]:
max_matches = pd.DataFrame(max_weight_matching)

In [164]:
matches = matches[matches['applications']!=0]

In [165]:
matches = matches[[0, 'student_id']]

In [166]:
matches[0]= matches[0].astype(str)+'S'

In [167]:
matches

        0  student_id
0    452S           1
2    275S           3
3    719S           4
5    842S           7
6    503S           8
..    ...         ...
840  580S         984
842  557S         986
846  721S         992
847  970S         993
850  936S         999

[401 rows x 2 columns]

In [168]:
mask = max_matches[0].isin(matches[0])

In [169]:
max_matches['school_id'] = np.where(max_matches[0].isin(matches[0]), max_matches[0], max_matches[1])
max_matches['student_id'] = np.where(max_matches[0].isin(matches[0]), max_matches[1], max_matches[0])

In [170]:
max_matches

        0     1 school_id student_id
0     362  933S      933S        362
1    662S   771      662S        771
2    817S   916      817S        916
3    325S   807      325S        807
4    254S    62      254S         62
..    ...   ...       ...        ...
396  503S     8      503S          8
397  907S   400      907S        400
398     1  452S      452S          1
399  111S   206      111S        206
400  488S   953      488S        953

[401 rows x 4 columns]

In [175]:
x2 = set(zip(max_matches['school_id'], max_matches['student_id']))

In [176]:
x1 = set(zip(matches[0], matches['student_id']))

In [179]:
x1.difference(x2)

{('111S', 510),
 ('128S', 974),
 ('136S', 671),
 ('157S', 970),
 ('177S', 853),
 ('218S', 10),
 ('248S', 657),
 ('249S', 191),
 ('264S', 206),
 ('334S', 408),
 ('351S', 438),
 ('394S', 304),
 ('411S', 968),
 ('455S', 305),
 ('456S', 615),
 ('459S', 18),
 ('468S', 924),
 ('474S', 384),
 ('475S', 638),
 ('489S', 223),
 ('495S', 128),
 ('515S', 502),
 ('517S', 565),
 ('547S', 712),
 ('564S', 375),
 ('571S', 751),
 ('579S', 917),
 ('601S', 605),
 ('633S', 837),
 ('636S', 152),
 ('644S', 419),
 ('655S', 122),
 ('680S', 400),
 ('6S', 431),
 ('70S', 172),
 ('715S', 158),
 ('716S', 951),
 ('722S', 307),
 ('731S', 555),
 ('791S', 397),
 ('801S', 151),
 ('856S', 389),
 ('859S', 314),
 ('907S', 781),
 ('90S', 833),
 ('936S', 999),
 ('943S', 789),
 ('955S', 127),
 ('958S', 821),
 ('991S', 492)}

Starting to look pretty good. Definitely have the right approach. Just need to get it exactly right so that we can start comparing stuff. I'm excited. I think we're very nearly there. Yay.